html{
    box-sizing: border-box;
    /*background-image: url(./bamboo-forest.jpg); */ 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-color: rgb(236, 208, 234);
    font-family: roboto, sans-serif;
  }
  *, *::before, *::after{
    box-sizing: inherit;
   }
  ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: rgba(231, 10, 10, 0.9);
  }
  .navi li :hover{
    background-color: rgb(100, 150, 200);
  }
  li a{
   display: flex;
   justify-content: center;
   text-align: center;
   font-size: 0,5em;
   padding: 1em 1em;
   margin: 0;
  }
  
  li {
  white-space: nowrap;
  width: 33.33%;
  padding: 0em;
  margin: 0;
  }
  .navi{
    background-color: rgb(73, 233, 212);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .links{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
   }
  .navi.right.none{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navi.left {
    display: flex;
    padding: 1em;
    white-space: nowrap;
  }
  .navi.left.header {
    display: flex;
    padding: 0em 0.5em;
    
  }
  @media only screen and (max-width: 500px) {
    .navi.right.none{
      display: none;
    }
    #show{
        width: 30%;
        height: 1em;
        float: right;
    }
    #show :hover{
       background-color: azure;
    }
    
  }